In [1]:
#counter controlled loop
l=0
while(l<10):
    print(l,end="")
    l+=1

0123456789

In [8]:
#condition controlled loop
i=1
while(i>0):
    print(i,end="")
    i+=1
    if(i==10):
      break

123456789

In [71]:
#calender
start_day=0
days_in_month=30
print("SUNMONTUEWEDTHUFRISAT")
for _ in range(start_day):
   print(" ",end="")
day=1
while day<=days_in_month:
    for i in range(7-start_day):
        if day>days_in_month:
           break
        print(f"{day:>3}",end="")
        day+=1
    print()
    start_day=0

SUNMONTUEWEDTHUFRISAT
  1  2  3  4  5  6  7
  8  9 10 11 12 13 14
 15 16 17 18 19 20 21
 22 23 24 25 26 27 28
 29 30

In [25]:
#nested loop
for i in range(4):
    for j in range(0,6):
        print("*",end="")
    print()

******
******
******
******

In [32]:
rows=5
for i in range(1,rows+1):
    print("*"*i)

*
**
***
****
*****

In [38]:
rows=5
for i in range(rows,0,-1):
    print("*"*i)

*****
****
***
**
*

In [42]:
rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i), end="")
    for j in range(1, i + 1):
        print(j, end="")
    print()

    1
   12
  123
 1234
12345

In [43]:
rows = 5 
for i in range(1, rows + 1):
    print(" " * (rows - i), end="")
    for j in range(1, i + 1):
        print(j, end="")
    for j in range(i - 1, 0, -1):
        print(j, end="")
    print()

    1
   121
  12321
 1234321
123454321

In [53]:
# Sum of the series 1/2 + 2/3 + ... + n/(n+1)
n = int(input("Enter the value of n: "))
total = 0.0
for i in range(1, n + 1):
    total += i / (i + 1)
print("Sum=", total)

Enter the value of n:  2

Sum= 1.1666666666666665

In [55]:
# Sum of the series 1/1 + 2^2/2 + 3^2/3 + ... + n^2/n
n = int(input("Enter the value of n: "))
total = 0
for i in range(1,n+1):
    total += (i**2) / i 
print("Sum=", total)

Enter the value of n:  5

Sum= 15.0

In [61]:
#perform square matrix multiplication
print("Enter elements of Matrix A:")
A = []
for i in range(2):
    row = list(map(int, input().split()))
    A.append(row)
print("Enter elements of Matrix B:")
B = []
for i in range(2):
    row = list(map(int, input().split()))
    B.append(row)
C = [[0] * 2 for _ in range(2)]
for i in range(2):
    for j in range(2):
        for k in range(2):
            C[i][j] += A[i][k] * B[k][j]
print("Result")
for row in C:
    print(row)

Enter elements of Matrix A:

 1 2
 2 3

Enter elements of Matrix B:

 2 3
 2 4

Result
[6, 11]
[10, 18]

In [65]:
rows = 2
cols = 2
for i in range(0, rows + 1):
    for j in range(0, cols + 1):
        print(f"{i},{j}", end="  ")
    print()

0,0  0,1  0,2
1,0  1,1  1,2
2,0  2,1  2,2

In [77]:
adj=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for i in adj:
    for j in fruits:
        print(f"{i} {j}")

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [80]:
rows=5
for i in range(1,rows+1):
    print("*"*i)
for i in range(rows,0,-1):
       print("*"*i)

*
**
***
****
*****
*****
****
***
**
*